.Desktop13 {
  background: #f1ebe6;
  height: 976px;
  width: 1439px;
  margin: 0px;
}

h1 {
  margin: 0 auto;
  position: relative;
  top: 152px;
  text-align: center;

  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.13em;
  color: #000000;
}

h2 {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 277px;
  font-family: SinGraphic;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 110px;

  color: #000000;
}

.Problemtype {
  position: relative;
  left: 1115px;
  width: fit-content;
  top: 347px;
  border: #000000 5px solid;
  border-radius: 15px;
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height */

  letter-spacing: 0.07em;
  color: #000000;
}

.Problemsolvestart {
  position: absolute;
  height: 63px;
  width: 563px;
  left: 440px;
  top: 597px;

  border-radius: 20px;
  border: #d9d9d9;
  background: #d9d9d9;
  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 62px;
  /* identical to box height */

  letter-spacing: 0.07em;

  color: #000000;
}

.Problemmakestart {
  position: absolute;
  height: 63px;
  width: 563px;
  left: 440px;
  top: 700px;

  border-radius: 20px;
  border: #d9d9d9;
  background: #d9d9d9;
  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 62px;
  /* identical to box height */

  letter-spacing: 0.07em;

  color: #000000;
}
.Caution {
  position: absolute;
  width: 850px;
  height: 61px;
  left: 294.5px;
  top: 876px;

  background: #d9d9d9;

  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 44px;
  /* identical to box height */

  letter-spacing: 0.07em;
  /* identical to box height */

  letter-spacing: 0.07em;

  color: #000000;
}
