.Home_Container {
  background: #f1ebe6;
  width: 100%;
  margin: 0px auto;
  max-height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
}

.Header_Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  margin-top: 10vmin;
}

.Bottom_Container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
}

.Sub_title {
  margin-bottom: 8vh;
  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 1000;
  font-size: 5vmin;
  line-height: 200%;
  letter-spacing: 0.16em;
  color: #000000;
}

.Main_title {
  font-family: SinGraphic;
  font-style: normal;
  font-weight: normal;
  font-size: 12vmin;
  line-height: 150%; /*150%랑 같이 해봐서 결정하기!*/
  color: #000000;
}

.Problemtype {
  /* margin-top: 0.1vmin; */
  width: 20%;
  text-align: center;
  align-self: flex-end;
  margin-inline-end: 1%;
  border: #000000 0.3vh solid;
  border-radius: 0.5rem;
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 600;
  font-size: 5vmin;
  line-height: 180%;

  /* identical to box height */
  letter-spacing: 0.07em;
  color: #000000;
}

.Problemmakestart {
  margin-bottom: 10vh;
  border-radius: 0.5rem;
  border: #d9d9d9;
  background: #d9d9d9;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 8vmin;
  line-height: 150%;
  /* identical to box height */
  letter-spacing: 0.07em;

  color: #000000;
}

.Caution {
  background: #d9d9d9;
  /* text-align: center; */
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 4vmin;
  line-height: 200%;
  /* identical to box height */

  letter-spacing: 0.07em;
  /* identical to box height */
  color: #000000;
  /* margin-top: px; */
}
