@font-face {
  font-family: 'NanumMyeongjo';
  src: url('../fonts/NanumMyeongjo.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'HY태고딕';
  src: url('../fonts/HY태고딕.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'SinGraphic';
  src: url('../fonts/SinGraphic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Gothic A1';
  src: url('../fonts/GothicA1-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Nanum Brush Script';
  src: url('../fonts/NanumBrushScript-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
.Home_Container_Problem {
  background: #f1ebe6;
  width: 100vw;
  max-width: 100%;
  margin: 0px auto;
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Problem_Header_Container {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-bottom: black 0.5vmin solid;
  margin-top: 3vh;
}
.Problem_Bottom_Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 5vh;
}
.Bottom1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.Bottom2 {
  display: flex;
  justify-content: center;
}
.Info_Container {
  width: 100%;
  margin-bottom: 1%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.Sub_title_header {
  margin: 0 auto;
  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: bold;
  font-size: 3vmin;
  line-height: 150%;
  letter-spacing: 0.5vmin;
  color: #000000;
}

.Main_title_header {
  font-family: SinGraphic;
  font-style: normal;
  font-weight: normal;
  font-size: 8vmin;
  line-height: 150%; /*150%랑 같이 해봐서 결정하기!*/
}

.Period {
  border: black solid 0.07em;
  border-radius: 1rem;
  text-align: center;
  font-family: Gothic A1;
  font-style: normal;
  font-weight: bold;
  font-size: 3vmin;
  line-height: 150%;
  letter-spacing: 0.07em;
}

.Nametag {
  margin-left: auto;
  border: black solid 0.07em;
  text-align: center;
  font-family: Gothic A1;
  font-style: normal;
  font-weight: bold;
  font-size: 3vmin;
  line-height: 150%;
}

.Name {
  border: black solid 0.07em;
  text-align: center;
  font-family: Nanum Brush Script;
  font-style: normal;
  font-weight: normal;
  font-size: 3vmin;
  line-height: 150%;
}

.Problem {
  font-family: NanumMyeongjo;
  font-size: 4vmin;
  line-height: 150%;
}

.Anotherquestion {
  font-family: NanumMyeongjo;
  font-size: 3vmin;
  border: solid gray 0.3vmin;
  border-radius: 2vmin;
  background: #d9d9d9;
}
.Anotherquestion:hover {
  opacity: 0.5;
}

.Problemlevel {
  border-radius: 2vmin;
  border: solid gray 0.3vmin;
  background: #d9d9d9;
  font-family: NanumMyeongjo;
  font-size: 3vmin;
  text-align: center;
}
.PseudobuttonSelected {
  background: white;
  font-weight: bold;
}
.PseudobuttonUnselected:hover {
  background: gray;
}
.Pseudobutton {
  font-family: NanumMyeongjo;
  background: none;
  width: 6vmin;
  height: 6vmin;
  border: 0.5vmin solid black;
  font-size: 3vmin;
  font-weight: bold;
}
.Pseudobutton:hover {
  opacity: 0.5;
}
.Buttonselect {
  display: inline-flex;
  justify-content: flex-end;
  background-color: #f1ebe6;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: bold;
  font-size: 3vmin;
  line-height: 200%;
  border: none;
  outline: none;
}
.Buttonselect:hover {
  color: gray;
  border: none;
}
.Checkani {
  overflow: hidden;
  animation-name: check;
  animation-duration: 1s;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border: none;
}
.Checkdiv {
  width: 0;
  overflow: hidden;
}
.Checksign {
  width: 5vmin;
  transform: translateX(-0.4vmin);
}
@keyframes check {
  0% {
    width: 0px;
  }
  100% {
    width: 5vmin;
  }
}
.Answer {
  transform: translateX(0);
}
.Answerani {
  animation-name: answer;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes answer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5vmin);
  }
}

.Modifychoice {
  /*font-family: NanumMyeongjo;
  font-size: 5vmin;*/
  display: inline-flex;
  justify-content: flex-end;
  background-color: #f8f4f0;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: bold;
  font-size: 3vmin;
  line-height: 200%;
}

.Modifyproblem {
  /*font-family: HY태고딕;
  font-size: 8vmin;*/
  font-family: NanumMyeongjo;
  font-size: 4vmin;
  line-height: 150%;
}

.Modify {
  border-radius: 2vmin;
  background: #d9d9d9;

  font-family: NanumMyeongjo;
  font-size: 3vmin;
  border: solid gray 0.3vmin;
}
.Modify:hover {
  opacity: 0.5;
}
.CircleNumber {
  display: inline-flex;
  justify-content: flex-end;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: bold;
  font-size: 3vmin;
  line-height: 200%;
}
.Submit {
  border-radius: 2vmin;
  background: #d9d9d9;
  font-family: NanumMyeongjo;
  font-size: 3vmin;
  border: solid gray 0.3vmin;
}
.Submit:hover {
  opacity: 0.5;
}

.Pagenumber {
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: bold;
  font-size: 5vmin;
  line-height: 100%;
  letter-spacing: 0.1em;
}

.Checkbox {
  display: none;
}

.Anotherquestion {
  height: 100%;
  background: none;
  border: solid 0.1rem black;
}
