/* .Inputname {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  border: 1px solid red;
} */
/* .Inputname label {
  width: 15%;

  border: 0.3vh solid #333333;

  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 600;
  font-size: 4.5vmin;
  line-height: 180%;
}

.Inputname input {
} */

/*
.Inputstudentid1 {
  position: absolute;
  width: 143px;
  height: 68px;
  left: 450.5px;
  top: 600px;



  border: 4px solid #333333;

  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;

}
.Inputstudentid2 {
  position: absolute;
  width: 392px;
  height: 66px;
  left: 597.5px;
  top: 648px;
  background: #f1ebe6;

  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;


  letter-spacing: 0.43em;
  border: 4px solid #333333;
}
.Inputgender1 {
  position: absolute;
  width: 143px;
  height: 68px;
  left: 450.5px;
  top: 700px;



  border: 4px solid #333333;

  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;

}
.Inputgender2 {
  position: absolute;
  width: 202px;
  height: 76px;
  left: 597.5px;
  top: 748px;

  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  border: 4px solid #333333;
}
.Inputgender3 {
  position: absolute;
  width: 202px;
  height: 76px;
  left: 799.5px;
  top: 748px;
  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  border: 4px solid #333333;
}
.button1 {
  position: absolute;
  width: 202px;
  height: 40px;
  left: 450.5px;
  top: 850px;
  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 45px;
  border: 4px solid #333333;
}
.button2 {
  position: absolute;
  width: 202px;
  height: 40px;
  left: 799.5px;
  top: 850px;
  text-align: center;
  font-family: NanumMyeongjo;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 45px;
  border: 4px solid #333333;
} */
